@font-face {
    font-family: "Outfit";
    font-weight: 400;
    src: url(
      "../assets/fonts/outfit/static/Outfit-Medium.ttf"
    ) format(woff);
}
@font-face {
    font-family: "Outfit";
    font-weight: 600;
    src: url("../assets/fonts/outfit/static/Outfit-Regular.ttf") format(woff);
}
@font-face {
    font-family: "Outfit";
    font-weight: 700;
    src: url("../assets/fonts/young-serif/YoungSerif-Regular.ttf") format(woff);
}



.body{background-color:hsl(30, 54%, 90%);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 128px auto 128px;
  font-family: "Outfit";
}